/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    background-color: #f4f4f4;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );*/
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    /*font-size:12px;*/
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
    z-index: -1;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
/*------------------------self----------------------*/
.navbar{
    width: 100%;
    height: 21px;
    background-color: gray;
    position: absolute;
    top: 0;
    z-index: 5;
}
.content{
    width: 100%;
    margin-top: 21px;
    /*height: -webkit-calc( 100vh - 21px);*/
}
.content .content-top{
    width: 100%;
    height: -webkit-calc(10vh - 7px);
    background-color: #25546e;
}
.content .content-top .content-top-left{
    width: 10%;
    height: 100%;
    float: left;
}
.content .content-top .content-top-left img{
    margin-top: 2.3vh;
}
.content .content-top .content-top-left a{
    font-size: 3vh;
    color: #e24f55;
    display: inline-block;
    text-decoration: none;
    margin-left: 1.5vh;
}
.content .content-top .content-top-center{
    width: 80%;
    height: 100%;
    float: left;
}
.content .content-top .content-top-center p{
    margin: 2vh !important;
    text-align: center;
    color: white;
    font-size: 3.5vh;
    padding-top: 0.7vh;
}
.content .content-top .content-top-right{
    width: 10%;
    height: 100%;
    float: left;
}
.content .content-top .content-top-right img{
    margin-top: 2.3vh;
}
/*-----------middle part---------*/
.content .content-middle{
    width: 100%;
    height: -webkit-calc(90vh - 14px);
    background-color: #f4f4f4;
    overflow-y:scroll; 
}
.content .content-middle .content-middle-content{
    width: 90%;
}
.content .content-middle .content-middle-content p{
    font-size: 4.5vw;
    text-align: left;
}
.content .content-middle .content-middle-content ul{
    margin: 0 !important;
}
.content-middle .content-middle-content .middle-content1{
    width: 100%;
    /*height: 32vh;*/
}

.content-middle .content-middle-content .middle-content2{
    width: 100%;
}
.content-middle .content-middle-content .middle-content2 img{
    width: 80vw;height: 80vw;
}
.content-middle .content-middle-content h1{
    font-size:11.5vw;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align: left;
    
}
.content-middle .content-middle-content h2{
    font-size:5.4vw;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align: left;
    color: #e24f55;
    bottom:0 !important;

}
.content-middle-content .middle-content3 .middle-content3-img1{
    width: 50%;float: left;
}
.content-middle-content .middle-content3 .middle-content3-img2{
    width: 50%;float: left;
}
.content-middle-content .middle-content3 img{
    width: 30vw;height: 30vw;
}










